body { 
    margin: 0; 
    padding: 0; 
}

/* .logo-geometrica{
    font-family: 'Courier New', Courier, monospace;
    color: red;
} */
/* 
.mapbox-viewport{
    display: flex;
    height: 100vh;
    flex-direction: column;
    border: red 2px;
} */

#map { 
    position: absolute; 
    width: 100%; 

}