body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Roboto;
/*   overflow: hidden; */
}

::-webkit-scrollbar-track {
  background-color: rgba(83, 88, 88, 0.589);;
  
}
::-webkit-scrollbar {
  width: 15px;
  background: #ffffff;
  opacity: 0.1;
}
::-webkit-scrollbar-thumb {
  background: #FFF500;
}


h2, h3 {
  margin: 10px;
  font-size: 20px;
}
  
h3 {
    font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
  
p {
  margin: 14px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

a{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FF0099;
}


.menu{
  background-color: #3A4848;
  padding: 13px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  color: #e2cd0f;
}


nav ul{
  position: absolute;
  color: #e0d903;
  border-color: #ffffff solid 2px;
  display: flex;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

}

nav li{
  padding-left: 15px;
}

button{
  background-color: #FFF500;
  height: 5vh;
  color: #3A4848;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  border-color: #e0d903;
  margin: 0 5%;
  margin-bottom: 15%;
}

button:hover{
  background-color: #e0d903;
  border-color: #FFF500;
}

button:active{
  background-color: #fff70000;
  color: #FFFFFF;
  border: #FF0099 solid 2px;
  font-weight: 400;
}

.rodape{
  position: absolute;
  background-color: #3A4848;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  margin-top: 25px;
}