

body {
  margin: 0;
  padding: 0;
  background-color: #FF0099;
}
  
h2, h3 {
  margin: 10px;
  font-size: 18px;
}
  
h3 {
  font-size: 16px;
}
  
p {
  margin: 10px;
}

nav{
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50;
  margin-left: -25%;
  top: 10px;
}  

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
 /*  border: red 2px solid; */
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-top: 75px;
}

.sobreposicao-map {
  position: absolute;
  /* top: 0; */
  /* right: 0; */
}

#saida {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  color: rgb(0, 0, 0);
  margin: 15px 15px ;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  border-radius: 8px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  height: 90%;
  ;

}

#entrada {
  position: absolute;
  top: 0;
  left: 0;
}

#box-pesquisa {
  top: 0;
  height: 130px;
  margin-top: 20px;
  width: 350px;
}
  
#box-sql {
  border: 2px red solid;
  top: 0;
  height: 150px;
  margin-top: 20px;
  width: 250px;
}
  
.box-legislacao {
  top: 200px;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}
  
#box-zoneamento {
  top: 370px;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

